@{
    ViewData["Title"] = "Welcome!";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Riderr!</h1>
    <div class="text-center">
        <div class="text-lg-center">
            <h2>Find your roadtrip buddy with us!</h2>
            <a asp-controller="Main" asp-action="SignIn">Sign in</a>
            <a asp-controller="Main" asp-action="SignUp">Sign up</a>
        </div>
    </div>
</div>
